.header {
  position:sticky;
  top: 0;
  text-align: center;
  width: 100vw;
  height: 6.4rem;
  background-color: var(--background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in;
  z-index: 10;
  border-bottom: 1px solie var(--red);
}

.logo {
  color: var(--red);
  font-size: 2.88rem;
  font-weight: 600;
  text-decoration: none;
}

.logo .text-primary {
  color: #000;
}

.search-bar {
  width: 40%;
  height: 3.2rem;
  display: flex;
  align-items: center;
}

.search-bar-input {
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 0.2rem solid var(--red);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  width: 100%;
}
.search-bar-input:focus{
  outline: 0 solid var(--red);
}

.search-button {
  border: none;
  padding: 5px;
  height: 3.52rem;
  width: 3.84rem;
  background-color: var(--red);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-icon {
  padding: 3px;
  height: 3rem;
  width: 3rem;
  filter: invert(100%) brightness(200%);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links {
  position: relative;
  color: var(--gray-dark);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.2s ease-in;
}

.nav-links:hover {
  color: var(--red);
  text-decoration: none;
}
.nav-links .cart-icon {
  width: 2rem;
  height: 2rem;
}

.nav-links span {
  position: absolute;
  top: -11px;
  right: -9px;
  color: var(--red);
}

.nav-links:hover .cart-icon {
  filter: invert(20%) sepia(100%) saturate(10000%) hue-rotate(-15deg) brightness(0.9) contrast(1);
}

.nav-links:hover span {
  color: black;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.account-icon {
  width: 2.4rem;
  height: 2.4rem;
  filter: invert(20%) sepia(100%) saturate(10000%) hue-rotate(-15deg) brightness(0.9) contrast(1);
}
.dropbtn {
  background: none;
  border: none;
  color: var(--red);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: color 0.3s ease-in;
}
.dropdown-content {
  text-align: center;
  padding: 1rem;
  position: absolute;
  background-color: var(--white);
  min-width: 20rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1;
  right: 0;
  top: 4rem;
  border: 0.2rem solid var(--gray-light);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
}

.button-login {
  width: 95%;
  height: 3.68rem;
  font-size: 2rem;
  border: none;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background-color: var(--red);
  color: #f1f1f1;
}
.button-login:hover{
  background-color: var(--red-btn-hover);
}

.dropdown-menu{
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.2s ease-in !important;
}

.dropdown-menu:hover .account-icon{
filter: none;
}
.dropdown-menu:hover .dropbtn{
color: var(--gray-dark);
text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  text-decoration: none;
  opacity: 1;
}
.password:hover {
  background-color: none;
  text-decoration: none;
  color: var(--primary-color);
}

.dropdown-link {
  color: var(--gray-dark);
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
 padding: 1rem 0;
 border-top: 1px solid var(--gray-light);
}

.dropdown-link:hover {
  text-decoration: underline;
  text-align: center;
  color: var(--red);
  
}

.password {
  color: var(--gray-dark);
  font-size: 1.6rem;
  margin-top: 0.5rem;
  
}
.password:hover{
  text-decoration: underline;
  color: rgb(0, 76, 255);
}

/* **********media quries***************** */
