@media (max-width:600px){
    .ch-form-body{
        left: 5rem;
      
    }
    .ch-form-details{
        flex-direction: column;
    }
    .ch-form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ch-form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
@media (max-width:575px) {
    .ch-form-body {
        left: 4.5rem;
    }
}
@media (max-width:525px) {
    .ch-form-body {
        left: 4rem;
    }
}
@media (max-width:500px) {
    .ch-form-body {
        left: 3.5rem;
    }
}
@media (max-width:450px) {
    .ch-form-body {
        left: 3rem;
    }
}
@media (max-width:400px) {
    .ch-form-body {
        left: 2.5rem;
    }
}
@media (max-width:350px) {
    .ch-form-body {
        left: 2rem;
    }
}