@media (max-width:1100px) {
    .checkout-form-container {
        top:5vh;
        left: 18vw;
        width: 65vw;
    }
}

@media (max-width:900px) {
    .checkout-form-container {
        width: 70vw;
        left: 15vw;
    }
}

 @media (max-width:800px) {
    .checkout-form-container {
            width: 80vw;
            left: 12vw;
        }
    .ch-form-details{
        flex-direction: column;
    }
   
}
 @media (max-width:600px) {
    .checkout-form-container {
            width: 90vw;
            left: 6vw;
        }
 }
 @media (max-width:500px) {
    .checkout-form-container {
            width: 95vw;
            left: 2vw;
        }
 }
 @media (max-width:400px) {
    .checkout-form-container {
            width: 99vw;
            left: 0;
        }
 }


