@media (max-width: 950px) {
    .signup-page {
        flex-direction: column;
    }

    .signup-text {
        width: 100%;
    }

    .signup-text h1 {
        font-size: 3.3rem;
    }

    .signup-text p {
        font-size: 1.8rem;
        color: #e0e0e0;
    }

    .signup-form {
        width: 90%;
        padding: 0;


    }

    .signup-form h2 {
        font-size: 4rem;

    }


}

@media (max-width: 800px) {


    .signup-form {
        max-height: 200vh;

    }
}

@media (max-width:600px) {
    .signup-page {
        height: 90vh;
    }

    .signup-form {
        margin: 6rem;
        padding: 0 3rem;
        background-color: transparent;
        height: 60%;
    }

    .signup-form h2 {
        margin-bottom: 2rem;
        padding: 0;
    }

    .form-container {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
    }

         .signup-input {
             font-size: 4rem;
         }
    .form-group input {
        flex-direction: column;
        width: 210%;
    }

   
}