.cart-page {
    min-height: 100vh;
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    overflow: auto;
}



.cart-page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../../assets/cart-background.jpg");
    filter: blur(4px);
    z-index: -1;
 
}

.cart-page-data {
    max-width: 80rem;
    margin: 0 auto;
    z-index: 1;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 1rem;
    margin-top: 5rem;
    padding: 2rem 4rem;
    
}
.dummy-cart-page-data {
    position:relative;
    max-width: 80rem;
    margin: 0 auto;
    z-index: 1;
    border-radius: 1rem;
    margin-top: 5rem;
    padding: 2rem 4rem;
    
}


.cart-page h2 {
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 2rem;

}

.cart-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.cart-actions.bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.cart-actions.top {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.clear-cart-btn,
.checkout-btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.clear-cart-btn {
    background-color: var(--red);
    color: #fff;
}

.clear-cart-btn:hover {
    background-color: #910f0a;
    transform: scale(1.1);
}

.checkout-btn {
    background-color: var(--gray-dark);
    color: #fff;
}

.checkout-btn:hover {
    background-color: #191e24;
    transform: scale(1.1);
}

.empty-cart {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 2rem;
}

.total {
    text-align: right;
    font-size: 2.4rem;
    margin-top: 2rem;
}