.footer {
  width: 100vw;
  background-color: rgba(225, 225, 231, 0.479);
  padding: 2rem 4.8rem 1.6rem 4.8rem  ;
  color: var(--text-color);
  border-top: 1px solid var(--red);
}
.footer h2{
      color: #000;
      margin-bottom: 1.5rem;
      color: var(--gray-dark);
        font-size: 3rem;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 4.8rem;
}

.right-footer {
  padding-top: 2rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.8rem;
  
}

.footer-about p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}
.footer span{
  color: var(--red);
}

.footer-form {
  min-width: 40%;
  margin: 1rem;
  border-left: 1px solid var(--red);
  padding-left: 6rem;
}
.form-field {
  margin-bottom: 1.5rem;
}

.form-field label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--gray-dark);
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--gray-light);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #111;
  background-color: #ffffff;
}

.form-field textarea {
  resize: vertical;
  height: 10rem;
}
.footer-btn-container{
  display: flex;
  justify-content: end;
}

.footer button[type="submit"] {
  background-color: var(--red);
  color: #ffffff;
  padding: 1rem 4rem;
  border: none;
  border-radius:5px;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.footer button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.footer-social .social-icons {
  display: flex;
  gap: 1rem;
}

.footer-social .social-icons a img {
  width: 3.2rem;
  height: 3.2rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 0.1rem solid var(--secondary-color);
}
.footer-bottom p{
  border-top: 1px solid var(--red);
  font-size: 1.4rem;
  color: var(--gray-dark);
  font-weight: bold;
  padding-top: 1rem;
}