 .genre-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  background-color: white;
  margin-bottom: 0.8rem;
  margin-top: 0;
}

.genre-dropdown {
  position: relative;
  display: inline-block;
}

.genre-dropbtn {
  background-color: var(--dark-color);
  color: white;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
}

.genre-dropdown-content {
  opacity: 0;
  position: absolute;
  top: 4rem;
  left: 0;
  background-color: var(--background-color);
  height: 30vh;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 0.4rem;
  overflow: hidden;
}

.genre-dropdown-content a {
  color: var(--text-color);
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  background: none;
  width: 100%;
  text-align: left;
}

.genre-dropdown-content a:hover {
  background-color: var(--background-color);
}

.genre-dropdown:hover .genre-dropdown-content {
  opacity: 1;
}

.genre-link {
  color: var(--dark-color);
  padding: 1rem 1.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  border-right: 0.2rem solid var(--dark-color);
  transition: all 0.3s ease-in;
}

.genre-link:hover {
  color: var(--primary-color);
  border-right: 0.2rem solid var(--primary-color);
}

hr {
  width: 100%;
  border: 0;
  border-top: 0.1rem solid var(--dark-color);
  margin-top: 1rem;
}
