@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary-white: rgb(240, 240, 240);
  --background: #f1f1f1;
  --background-hover: #f6e1e1;
  --price-color: #63997c;
  --card-title: #676767;
  --red: #d51912;
  --red-btn-hover: #76120f;
  --light: #f8f9fa;
  --gray-dark: #343a40;
  --gray-light: #9da8b2;
  --black: #000;
  --white: #fff;
  --form-background-color: #b1edb6;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  font-family: "Roboto",sans-serif;
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}


.book-list {
  margin-top: 1.6rem;
  display: flex;
  margin: 4.8rem 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;

}

.cart-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 5px;
}


.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error{
  font-size: 3rem;
    height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
