:root {
  --primary-white: rgb(240, 240, 240);
  --background: #f1f1f1;
  --background-hover: #f6e1e1;
  --price-color: #63997c;
  --card-title: #676767;
  --red: #d51912;
  --light: #f8f9fa;
  --gray-dark: #343a40;
  --gray-light: #9da8b2;
  --black: #000;
  --white: #fff;
  --form-background-color: #b1edb6;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}


.book-list {
  margin-top: 1.6rem;
  display: flex;
  margin: 4.8rem 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;

}

.cart-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 5px;
  
      
 
}


